@import "compass/reset";
@import "compass/css3";

body {
  position: relative;
  font-family: "Source Sans Pro";

  input, button {
    &:focus {
      outline: none;
    }
  }

  button {
    &:hover {
      cursor: pointer;
    }
  }

  header {
    position: fixed;
    width: 100%;
    background: #2d2d2d;
    height: 50px;
    z-index: 1;

    .container {
      max-width: 1190px;
      min-width: 960px;
      margin-left: auto;
      margin-right: auto;
      height: 50px;

      span {
        display: inline-block;
        padding: 15px 15px;
        color: #fff;
        font-weight: bold;

        &:after {
          content: '';
          border-right: 3px solid #3e3e3e;
          margin-left: 15px;
        }

        icon {
          color: #fff ;
          background: #2d7ab6;
          margin-right: 5px;
          padding: 10px;
          border-radius: 6px;
        }
      }

      div {
        display: inline-block;
        position: relative;
        font-size: 14px;
        input {
          height: 25px;
          width: 170px;
          padding: 2px 8px;
          border-radius: 5px;
          background: #4a4a4a;
          border: none;
        }
        icon {
          position: absolute;
          right: 7px;
          top: 7px;
          color: #dcdcd7;
        }
      }

      img {
        float: right;
        height: 28px;
        margin: 13px 5px;
      }
      button {
        float: right;
        background: #e28133;
        border: none;
        padding: 9px;
        border-radius: 5px;
        color: #fff;
        margin: 10px 3px;
        line-height: 13px;
      }
    }
  }

  nav {
    position: fixed;
    margin-top: 50px;
    background: #4c4c4c;
    width: 100%;
    height: 35px;
    z-index: 1;

    ul {
      max-width: 1190px;
      min-width: 960px;
      margin-left: auto;
      margin-right: auto;

      li {
        display: inline-block;
        margin-right: 60px;
        margin-left: 15px;
        line-height: 35px;

        a {
          color: #d3d3d3;
          text-decoration: none;

          &:hover {
            color: #2ac5ee;
          }
        }
      }
    }
  }

  div#wrap {
    padding-top: 85px;
    padding-bottom: 50px;

    div.row {
      background-image: url('/images/background-image.jpeg');
      background-size: 100% 100%;
      height: 100%;
      width: 100%;
      text-align: center;
      padding-top: 150px;

      & > span {
        display: inline-block;
        width: 100%;
        color: #fff;

        &:first-child {
          font-size: 50px;
          line-height: 80px;
        }

        &:last-child {
          font-size: 20px;
        }
      }

      .button-container {
        margin: 30px 10px 50px 10px;
        button {
          padding: 15px;
          background: #2d7cba;
          border: none;
          border-radius: 3px;
          margin-right: 15px;
          height: 55px;
          color: #fff;
          font-size: 14px;
          vertical-align: middle;
          span {
            vertical-align: middle;
          }
          icon {
            vertical-align: middle;
          }

          &.create {
            icon {
              font-size: 24px;
              color: #fff;
              margin-right: 10px;
            }
          }
          &.cancel {
            background: transparent;
            border: 1px solid #eaeeec;
          }
        }
      }

      .image-container {
        div {
          display: inline-block;
          position: relative;

          .mobile {
            position: absolute;
            left: -50px;
            bottom: 0;
          }

          .tablet {
            position: absolute;
            bottom: 0;
            right: -127px;
          }
        }
      }

      .step-container {
        background: #393939;
        width: 100%;
        height: 300px;
        padding-top: 50px;

        > span {
          font-size: 20px;
          color: #fff;
          line-height: 30px;
          display: inline-block;
          width: 100%;
        }

        .steps {
          margin-top: 30px;
          position: relative;
          &:before {
            content: '';
            width: 30px;
            border-top: 1px solid #666;
            display: block;
            position: absolute;
            left: 50%;
            top: -3px;
          }

          div {
            display: inline-block;
            width: 240px;
            padding: 30px 10px;
            position: relative;

            &:after {
              content: '';
              border-right: 1px solid #666;
              border-bottom: 1px solid #666;
              display: inline-block;
              width: 20px;
              height: 20px;
              position: absolute;
              right: -10px;
              bottom: 33px;
              transform: rotate(-45deg);
            }

            &:last-child:after {
              display: none;
            }

            span:first-child {
              font-size: 20px;
              color: #fff;
            }
            span:last-child {
              font-size: 12px;
              color: #c1c1c1;
              display: block;
            }
          }
        }

        .create-now {
          margin: 30px 10px;
          background: #fff;
          color: #1677b2;
          height: 40px;
          padding: 0 15px;
          border: none;
          border-radius: 5px;
          font-size: 14px;

          icon {
            margin-right: 8px;
            font-size: 20px;
            vertical-align: middle;
          }
        }
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    background: #393939;
    width: 100%;
    height: 50px;
    div {
      line-height: 50px;
      text-align: center;
      color: #cacaca;
      font-size: 12px;
    }
  }

}
